*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    margin: 0;
}

/* =================
    Typography 
   ================= */

h1 {
    font-weight: 400;
    font-size: 2.5rem;
    text-shadow: 0 1px #404040;
}

h2 {
    font-size: 2.25rem; /* 36 / 16 */
    margin: 0 0 0.167em;
}

p {
    font-size: 1.125rem;
    line-height: 1.35;
}

.beta-text { 
    font-weight: 900;
}

.subheading {
    color: #575757;
    font-weight: 900;
    margin-bottom: 0.5em;
}

.beta-text,
.top-text,
.subheading {
    text-transform: uppercase;
}

.top-text {
    order: -1;
    font-size: 0.875rem;
    font-weight: 900;
    padding-top: 0.25em;
    border-top: 5px solid;
    margin: 0 auto; /* p has default margin! */
}

.fine-print {
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: #858585;
}

/* =================
    Flex containers
   ================= */

.intro,
.main-content {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-right: 2em;
}

/* =================
    Intro
   ================= */
   
.intro { 
    background: #f9f47f;
    color: #252525;
    justify-content: space-between;
    text-align: center;
    min-height: 250px;
    padding-bottom: 1.5em;
}

/* ====================
    Main content
   ==================== */

.main-content {
    align-items: center;
    padding-top: 2.5em; /* 40 / 16 */
}

.img-main {
    width: 100px;
}

.main-content p,
form {
    max-width: 450px;
}

/* =================
    Form
   ================= */

input,
button {
    /* form does not inherit font setting, have to use inherit */
    font-family: inherit;
    width: 100%;
    border-radius: 5px;
}

input {
    margin-bottom: 0.75em;
    padding: 0.5em;
    border: 2px solid #d1d5db;
}
    
input:focus {
    outline: none; /* remove the default outline */
    border: 2px solid rgb(238, 118, 118);
    background-color: #e6e8ec;
}

.btn {
    font-weight: 900;
    text-transform: uppercase;
    border: none;
    padding: 1em 0;
    letter-spacing: 1px;
    cursor: pointer;
}

/* button modifier class (xx-primary) */
.btn-primary {
    color: #252525;
    background-color: #f9f47f;
    margin-top: 1em;    
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: rgb(238, 118, 118);
}

/* =================
    Media queries 
   ================= */

@media (min-width: 576px) {
    body {
        display: flex;
    } 

    .intro,
    .main-content {
        flex-basis: 50%;
    }

    .intro {
        min-height: 100vh;
    }

    .main-content {
        justify-content: center;
        padding-top: 0;
    }

    h1 {
        font-size: 4.5vw;
    }

    h2 {
        font-size: 2.625rem;
    }

    .beta-text {
        font-size: 1.25rem;
    }
}