html, body {
    margin: 0;
    padding: 0;
}

h1, p {
    margin: 0;
}

.grid {
    display: grid;
    /* grid-template-rows: 200px 200px;
    grid-template-columns: 300px 300px 300px; */

    /* align-items: end; */
    /* justify-items: start; */

    /* shorthand */
    grid-template: 200px 200px / 300px 300px 300px; /* 2 rows / 3 columns */
}

.grid-item {
    color: black;
    padding: 1em 2em;
    border: 2px solid purple;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Placing child items on the grid */
    /* grid-row-start: 2;
    grid-row-end: 3;

    grid-column-start: 2;
    grid-column-end: 3; */

}

.one {
    background: #B823C1;
    /* shorthand */
    /* grid-row: 2 / 3; */
    /* grid-column: 2 / -2; */

    /* Spanning columns */
    /* grid-column: span 3; */
}

.two {
    background: #FF5670;

    /* grid-row: 2 / -2;
    grid-column: 2 / span 2; */
}

.big {
    padding: 1em 1em;
    background-color: bisque;
}

.start {
    background-color: brown;
    align-self: center;
    justify-self: center;
}